:root {
	// Main Branding
	--brand-primary: rgba(108, 217, 190, 1);
	--brand-primary-dark: rgba(32, 128, 104, 1);
	--brand-accent: rgba(229, 115, 92, 1);

	// Greyscale
	--grey-100: hsla(0,0,100,1);
	--grey-90: hsla(0,0,90,1);
	--grey-80: hsla(0,0,80,1);
	--grey-70: hsla(0,0,70,1);
	--grey-60: hsla(0,0,60,1);
	--grey-50: hsla(0,0,50,1);
	--grey-40: hsla(0,0,40,1);
	--grey-30: hsla(0,0,30,1);
	--grey-20: hsla(0,0,20,1);
	--grey-10: hsla(0,0,10,1);
	--grey-0: hsla(0,0,0,1);


	// Basic Color
	--white: var(--grey-100);
	--black: var(--grey-0);
	--red: rgba(242, 85, 116, 1);
	--green: rgba(106, 229, 118, 1);
	--blue: rgba(115, 181, 229, 1);
	--yellow: rgba(229, 220, 126, 1);
	--cyan: rgba(115, 222, 229, 1);
	--magenta: rgba(237, 107, 193, 1);
	--orange: rgba(245, 177, 76, 1);
	--pink: rgba(240, 173, 229, 1);
	--brown: rgba(196, 153, 102, 1);
	--terminal-green: rgba(51, 255, 102, 1);


	// States
	--critical: var(--red);
	--success: var(--green);
	--info: var(--blue);
	--warning: var(--yellow);
	--info-alt: var(--cyan);
	--danger: var(--orange);
	--disabled: var(--grey-40);


	// Text
	--text-primary: var(--grey-30);

	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


	// Shadows
	// Box Shadows
	$box-shadow--none: 0px 0px 0px 0px rgba(var(--grey-10), 0);
	$box-shadow--static: 0px 1px 1px 1px rgba(var(--grey-10), .10);
	$box-shadow--hover: 0px 3px 6px 1px rgba(var(--grey-10), .15);

	// Text shadows
	$text-shadow--static: 0px 1px 1px rgba(var(--grey-0), .15);

	// Transition Times
	--transition-50: 50ms ease-in-out;
	--transition-100: 100ms ease-in-out;
	--transition-150: 150ms ease-in-out;
	--transition-200: 200ms ease-in-out;
	--transition-250: 250ms ease-in-out;
	--transition-300: 300ms ease-in-out;
	--transition-350: 350ms ease-in-out;
	--transition-400: 400ms ease-in-out;
	--transition-450: 450ms ease-in-out;
	--transition-500: 500ms ease-in-out;
	--transition-550: 550ms ease-in-out;
	--transition-600: 600ms ease-in-out;
	--transition-650: 650ms ease-in-out;
	--transition-700: 700ms ease-in-out;
	--transition-750: 750ms ease-in-out;
	--transition-800: 800ms ease-in-out;
	--transition-850: 850ms ease-in-out;
	--transition-900: 900ms ease-in-out;
	--transition-950: 950ms ease-in-out;
	--transition-1000: 1000ms ease-in-out;

	--border-radius-sm: 2px;
	--border-radius-md: 4px;
	--border-radius-lg: 8px;
}

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	&::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

body {
	width: 100%;
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	font-size: 12px;
	color: var(--text-primary);
	font-family: var(--font-family-sans-serif);
}

#__nuxt, #__layout {
	width: 100%;
	min-height: 100%;
}
