:root {
	// Transition Times
	--transition-50: 50ms ease-in-out;
	--transition-100: 100ms ease-in-out;
	--transition-150: 150ms ease-in-out;
	--transition-200: 200ms ease-in-out;
	--transition-250: 250ms ease-in-out;
	--transition-300: 300ms ease-in-out;
	--transition-350: 350ms ease-in-out;
	--transition-400: 400ms ease-in-out;
	--transition-450: 450ms ease-in-out;
	--transition-500: 500ms ease-in-out;
	--transition-550: 550ms ease-in-out;
	--transition-600: 600ms ease-in-out;
	--transition-650: 650ms ease-in-out;
	--transition-700: 700ms ease-in-out;
	--transition-750: 750ms ease-in-out;
	--transition-800: 800ms ease-in-out;
	--transition-850: 850ms ease-in-out;
	--transition-900: 900ms ease-in-out;
	--transition-950: 950ms ease-in-out;
	--transition-1000: 1000ms ease-in-out;
}
