// Nunito Sans Import

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-ExtraLight.ttf');
	font-weight: 200;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-ExtraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-SemiBoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-ExtraBold.ttf');
	font-weight: 800;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-ExtraBoldItalic.ttf');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-Black.ttf');
	font-weight: 900;
}

@font-face {
	font-family: "NunitoSans";
	src: url('../fonts/nunito-sans/NunitoSans-BlackItalic.ttf');
	font-weight: 900;
	font-style: italic;
}
