html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: 'NunitoSans';
	color: $text-primary;
	position: relative;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pageContent {
	flex: 1 0 auto;
	padding-top: 7.5rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 10rem;
	@media only screen and (max-width: 992px) {
		padding-top: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.contactContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 4rem;
	@media only screen and (max-width: 800px) {
		flex-direction: column;
	}
	.contact-1 {
		position: relative;
		width: 30%;
		min-height: 35rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		order: 1;
		@media only screen and (max-width: 800px) {
			width: 100%;
			order: 2;
			margin-bottom: 4rem;
		}
		.imageTitle {
			max-width: 30rem;
		}
	}
	.contact-2 {
		width: 30%;
		order: 2;
		@media only screen and (max-width: 800px) {
			width: 100%;
			order: 1;
		}
	}
	.contact-3 {
		width: 30%;
		p {
			width: 75%;
		}
		order: 3;
		@media only screen and (max-width: 800px) {
			width: 100%;
			p {
				width: 100%;
			}
		}
	}
}

.contactFormCard {
	margin: 0 2rem;
	@media only screen and (max-width: 800px) {
		margin: 0 0 4rem;
	}
	padding: 2rem 2rem 5rem;
	position: relative;
	input[type=text],
	input[type=email],
	textarea {
		display: block;
		width: 100%;
		border-top: 0px;
		border-right: 0px;
		border-bottom: .3rem solid $brand-primary;
		border-left: 0px;
		padding: 1rem;
		background: rgba(255,255,255,1);
		margin-bottom: 2rem;
		&::placeholder {
			font-size: .85rem;
			font-weight: 700;
			text-transform: uppercase;
			color: rgba(200,200,200,1);
		}
	}
	button {
		position: absolute;
		width: 100%;
		height: 3rem;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: darken($brand-primary, 20%);
		text-align: center;
		text-decoration: none;
	    cursor: pointer;
	    border:none;
		font-weight: 700;
		text-transform: uppercase;
		color: rgba(255,255,255,1);
		transition: 350ms ease;
		&:hover {
			background-color: $brand-primary;
		}
	}
}

.checker-red {
	border: 1px solid red;
}

.checker-green {
	border: 1px solid lime;
}

.checker-blue {
	border: 1px solid blue;
}

.dropShadow-1 {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, .1);
}

.dropShadow-2 {
	-webkit-filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, .2));
	filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, .2));
}
