html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: 'NunitoSans';
	color: $text-primary;
	position: relative;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pageContent {
	flex: 1 0 auto;
	padding-top: 7.5rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 10rem;
	@media only screen and (max-width: 992px) {
		padding-top: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.contentContainer {
	width: 100%;
	margin: 4rem 0 0 0;
}



.contactContainer {
	width: 100%;
	margin: 4rem 0 0 0;
	.about {
		margin-top: 4rem;
		max-width: 50rem;
		h4 {
			margin-bottom: 2rem;
		}
	}
	.contactForm {
		margin-top: 0;
		h4 {
			margin: 0 0 2rem 2rem;
		}
		@media only screen and (max-width: 768px) {
			margin-top: 4rem;
			h4 {
				margin: 0 0 2rem 0;
			}
		}
	}
}

.contactFormCard {
	margin: 0 2rem;
	background-color: rgba(255,255,255,1);
	padding: 2rem 2rem 5rem;
	position: relative;
	@media only screen and (max-width: 800px) {
		margin: 0 0 4rem;
	}
	input[type=text],
	input[type=email],
	textarea {
		display: block;
		width: 100%;
		border-top: 0;
		border-right: 0;
		border-bottom: .3rem solid $brand-primary;
		border-left: .3rem rgba(255,255,255,0);
		padding: 1rem;
		background: rgba(255,255,255,1);
		margin-bottom: 2rem;
		resize: none;
		transition: 100ms ease-in-out;
		&::placeholder {
			font-weight: 900;
			text-transform: uppercase;
			color: rgba(200,200,200,1);
		}
		&:focus {
			outline: 0 none;
			border-left: .3rem solid $brand-primary;
			background-color: lighten($brand-primary, 32%);
		}
	}
	button {
		position: absolute;
		width: 100%;
		height: 3rem;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $brand-primary;
		text-align: center;
		text-decoration: none;
	    cursor: pointer;
	    border:none;
		font-weight: 700;
		text-transform: uppercase;
		color: rgba(255,255,255,1);
		transition: 400ms ease;
		&:hover {
			background-color: darken($brand-primary, 5%);
		}
	}
}

.checker-red {
	border: 1px solid red;
}

.checker-green {
	border: 1px solid lime;
}

.checker-blue {
	border: 1px solid blue;
}

.translateY {
	transition: 500ms ease;
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	&:hover {
		-ms-transform: translate(0, -.5rem);
		-webkit-transform: translate(0, -.5rem);
		transform: translate(0, -.5rem);
	}
}

.dropShadow-1 {
	box-shadow: 0px 8px 15px rgba(0, 0, 0,.1);
}

.dropShadow-2 {
	box-shadow: 0px 8px 15px rgba(0, 0, 0,.1);
	transition: 500ms ease;
	&:hover {
	box-shadow: 0px 25px 50px rgba(0, 0, 0,.3);
	}
}

.dropShadow-3 {
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,.15));
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,.15));
}

.dropShadow-4 {
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,.15));
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,.15));
	transition: 400ms cubic-bezier(.4,.23,.35,1);
	&::after {
	-webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0,.25));
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0,.25));
	}
	&:hover {
	-webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0,.25));
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0,.25));
	}
}

