// General

a {
    color: darken($brand-primary, 20%);
    text-decoration: none;
    transition: 350ms ease;
    &:hover {
        color: $brand-primary;
        text-decoration: none;
    }
}

h2 {
    font-size: 3rem;
    color: $text-primary;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

h3 {
    color: $text-primary;
    font-weight: 400;
}

h4 {
    color: $text-primary;
    font-weight: 700;
    text-transform: uppercase;
}

h5 {
    color: $text-primary;
    font-weight: 600;
    text-transform: uppercase;
}

h6 {
    color: $text-primary;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    color: $text-primary;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}


// Home

.homeHeroText {
    width: 100%;
    h1{
        font-size: 2.5rem;
        line-height: 2.75rem;
        font-weight: 700;
        width: 60%;
        @media only screen and (max-width: 800px) {
            font-size: 1.35rem;
            line-height: 1.75rem;
            width: 75%;
        }
        text-align: center;
        color: rgba(255,255,255,1);
        text-transform: uppercase;
    }
}


// Page Title Headings

.pageHeading {
    font-size: 2.5rem;
    font-weight: 900;
    color: $text-primary;
}

.projectHeading {
    font-size: 3.25rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $text-primary;
}



// Text Bodies

.projectDetails {
    padding-left: 5rem;
    padding-right: 10vw;
    @media only screen and (max-width: 991px) {
        padding: 0 3rem;
        margin-top: 5rem;
    }
}


// Footer

.formFooter {
    margin-top: 4rem;
    padding: 0 2rem;
    @media only screen and (max-width: 768px) {
        margin-top: 2rem;
        padding: 0;
    }
}




// Photography
.imageTitle {
    h4 {
        font-weight: 700;
        text-transform: uppercase;
    }
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
